@charset "UTF-8";

header{
    font-size: 3rem;
    text-align: center;
    line-height: 7rem;
    font-family: serif;
}

nav{
    height: 3rem;
    background-color: rgb(8, 173, 8);
}

ul{
    display: flex;
    justify-content: center;
    line-height: 3rem;
    background-color: rgb(8, 173, 8);
}

li{
    width: 12rem;
    text-align: center;
    list-style-type: none;
    color: white;
    border-style: solid;
    border-width: 0 1px;
    cursor: pointer;
}

li:hover{
    opacity: .3;
    /*transform: scale(1.1);*/
}